# Django Database Settings (used by both Django and Docker Compose)
POSTGRES_DB=myprojectdb
POSTGRES_USER=myprojectuser
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Django Settings
DJANGO_SECRET_KEY=django-insecure-g6j5$k46w1$yyx_#6xt$h2+37gutq+3@y!pajnf*u3yzy*)(a#
DJANGO_DEBUG=True
